@font-face {
    font-family: 'LobsterTwoItalic';
    src:  url('/assets/fonts/Lobster_Two/LobsterTwo-Italic.ttf') format('truetype'),
          url('/Nameless/Webpage/assets/fonts/Lobster_Two/LobsterTwo-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Comfortaa';
    src:  url('/assets/fonts/Comfortaa-VariableFont_wght.woff') format('woff');         
}
@font-face {
    font-family: 'OpenSans';
    src:  url('/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('ttf'),
          url('/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff') format('woff');         
}

@font-face {
    font-family: 'Montserrat';
    src:  url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf'),
          url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff') format('woff');         
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* ----- Typography ----- */

h1, h2, h3, h4, h5, h6  {
    font-family: Comfortaa;
    margin: 0px;
    color: white;
    transition: 200ms;
}

/* ----- Layout ----- */

html { 
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #28383a;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* ----- Logo ----- */
#logo {
    height: fit-content;
    margin-top: 16px;
}
#logo .top{
    display: flex;
    align-items: baseline;
    gap: 4px;
}
#logo .bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 4px;
}
#logo h1 {
    font-family: LobsterTwoItalic;
    font-size: 3.2rem;
}
#logo h2 {
    font-family: Comfortaa;
    font-weight: 100;
    font-size: 2.4rem;
    text-transform: lowercase;
    letter-spacing: -1px;
}
#logo h3 {
    font-family: Comfortaa;
    font-weight: 100;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #8a8a8a;
    letter-spacing: 0.8px;
}

/* ----- Section ----- */

section {
    height: 1%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
    
}

#what, #why, #where, #how  {
opacity: 0;
}

section h1 {
    height: auto;
    font-size: 8rem;
    padding-top: 16px;
}
section h2 {
    height: auto;
    font-size: 1.6rem;
    padding: 16px;
}



section article {
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 16px;
    margin-left: 8px;
    margin-right: 8px;
    overflow: scroll;
}

article p {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: white;
    overflow: auto;
}

/* ----- Navigation ----- */

nav {
    height: auto;
    display: flex;
    margin-bottom: 32px;
   
}

nav h4 {
    font-size: 1.2rem;
    font-weight: 400;
    width: 64px;
    text-align: center;
    padding: 16px;
    border: solid white 1px;
    cursor: pointer;
}
nav h4:hover {
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0.2);
}

nav h4:active {
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0.5);
}

nav .start {
    border-radius: 8px 0px 0px 8px ;
}

nav .end {
    border-radius: 0px 8px 8px 0px ;
}

/* ----- Garbage ----- */